body{
    margin: 0;
    padding: 0;
    box/sizing:border-fox
    overflow-x: hidden;
}

.banner-soporte{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.banner-soporte img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}